{% extends 'vehicles/layout.html' %}

{% block body %}
    {% if vehicle.error %}
        <p>Vehicle not found</p>
    {% else %}
        <h1>{{vehicle.modelYear}} {{vehicle.brand}} {{vehicle.model}}</h1>
        <div id="vehicle-info">
            <p><b>Price: </b>{{vehicle.price}}</p>
            <p><b>Fuel: </b>{{vehicle.fuel}}</p>
            <p><b>Fuel Acronym: </b>{{vehicle.fuelAcronym}}</p>
            <p><b>Vehicle Type: </b>{{vehicle.vehicleType}}</p>
            <p><b>FIPE Code: </b>{{vehicle.codeFipe}}</p>
            <p><b>Reference Month: </b>{{vehicle.referenceMonth}}</p>
        </div>
        <h2>Your lists: </h2>
        <ul id="lists"></ul>
        {% load static %}
        <script src="{% static 'vehicles/vehicle.js' %}"></script>
    {% endif %}
{% endblock %}